@tailwind base;
@tailwind components;
@tailwind utilities;

.herobg{
    position: relative;
}

*::-webkit-scrollbar {
    width: 4px;
    border-radius: 20px;
  }

  *::-webkit-scrollbar-thumb {
    background: #111827;
  }

.herobg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.2;
    z-index: -1;
  }